*.class
*.orig
*.project
*.pydevproject
*.classpath
*.dat
log
log/
log/*
/log/
/log/*
/seg0/
/seg0/*
/tmp/
/tmp/*
*.lck
/build/
/bin/
/.gradle/
/settings/
/.settings/
/target/
build
.gradle
.idea
out
*.iml
*.ipr
*.iws
.DS_Store
bin
*.gz
